html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Verdana, "微軟正黑體";
    font-size: 18px;
    background-color: #fefae0;
    color: #6b705c;
    text-decoration: none;
}

a {
    color: #6b705c;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
    padding-left: 0;
}

.divider {
    margin: 5rem 0;
}


/* ---頁首選單--- */

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

header nav {
    background-color: rgba(255, 253, 240, 0);
    transition: background-color 0.2s linear;
}

/* ---選單scroll後背景色--- */
.solid_nav{
    background-color: rgba(255, 253, 240, 1);
    box-shadow: 0 1px 5px #a09e8e;
}

header nav img {
    width: 100px;
}

header nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul li {
    margin-left: 1rem;
}

header nav ul li a {
    position: relative;
    font-size: 18px;
    font-weight: bolder;
    color: #6b705c !important;
}

header nav ul li a::after {
    content: "";
    display: block;
    background-color: #6b705c !important;
    width: 0;
    height: 0.125rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.5rem;
    margin: auto;
    transition: width 0.3s ease;
}

header nav ul li a:hover::after {
    width: 90%;
}

header nav ul li a.active {
    color: #ffcb69 !important;
}

header nav ul li a.active::after {
    background-color: #ffcb69 !important;
}

header .navbar {
    padding: 0.5rem 0;
}


/* ---頁尾--- */

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ccd5ae;
    text-align: center;
    font-weight: 700;
    color: #fff;
}

footer .social_icon {
    margin-bottom: 0.5rem;
}

footer img {
    width: 35px;
    margin: 0 5px;
}

footer .address {
    font-size: 15px;
}

footer .copyright {
    font-size: 13px;
}