@import url("base.css");

.banner {
  width: 100%;
  height: 400px;
  background-image: url("../image/delicacy/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  margin-bottom: 5rem;
  line-height: 400px;
  font-size: 3rem;
  font-weight: bolder;
  color: #463F3A;
}

main {
  width: 1200px;
  margin: 0 auto;
}

/* ---圖文區塊--- */
.wrapper {
  height: 400px;
  display: flex;
  margin-bottom: 5rem;
}

.wrapper .img {
  width: 50%;
}

.wrapper .img img {
  width: 100%;
}

.wrapper .card {
  width: 50%;
  padding: 40px;
  
  background-color: #fffdf0;
  color: #6b705c;
  text-align: left;
  line-height: 1.75rem;
  letter-spacing: 2px;
  font-weight: bolder;
}

.wrapper .card h2 {
  font-size: 2rem;
  line-height: 2.75rem;
}

.wrapper .card h3 {
  font-size: 1.5rem;
}

.wrapper .card > p {
  padding: 4rem 0 0;
}

.wrapper .card span {
  padding-right: 1rem;
  color: #ffcb69;
}
