@import url("base.css");

/* --- 頁首 --- */

.cover {
    background-image: url("../image/big_pic/home01.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 760px;
    position: relative;
}

.cover .logo_pic>img {
    width: 160px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    animation: logo 1.5s forwards;
}

.cover .logo_pic .down {
    width: 30px;
    position: absolute;
    bottom: 300px;
    left: 0;
    right: 0;
    margin: auto;
    animation: down 1s infinite;
}


/* --- 圓形圖片選單 --- */

.round {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.round .title {
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.5;
    font-size: 28px;
    font-weight: bolder;
}

.round .title h2 {
    font-weight: bolder;
    color: #463f3a;
}

.round .title h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #6b705c;
}

.round ul li {
    text-align: center;
    /* display: flex;
    flex-direction: column;
    margin: 0 auto; */
}

.round ul li img {
    width: 80%;
    border-radius: 50%;
    opacity: 0.5;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    margin-bottom: 1rem;
}

@media screen and (max-width: 767.98px) {
    .round ul li {
        margin-top: 2rem;
    }

    .round ul li img {
        opacity: 1;
    }
}

.round ul li img:hover {
    opacity: 1;
}

.round ul li p {
    /* text-align: center; */
    line-height: 2.5;
    font-weight: bold;
    color: #463f3a;
    margin-bottom: 0;
}

.round .round_btn {
    padding: 0 .6rem;
    border: 2px solid #a5a58d;
    border-radius: 20px;
    font-size: 16px;
    color: #6b705c;
}

.round .round_btn:hover {
    background-color: #a5a58d;
    color: #fff;
}


/* ---四季圖片區塊上方裝飾線--- */

.season::before {
    content: "";
    display: block;
    background-color: #ccd5ae;
    width: 90%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}


/* ---四季圖片區塊--- */

.season {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.season .title {
    margin-bottom: 1rem;
    text-align: center;
}

.season h2 {
    font-weight: bold;
    color: #463f3a;
}

.season h3 {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    color: #6b705c;
}

.season ul {
    width: 80%;
    height: 460px;
    margin: 0 auto;
    display: flex;
}

.season ul li {
    background-size: cover;
    background-position: center center;
    border: 2px solid #FEFAE0;
    transition: 1s;
}
@media screen and (max-width: 767.98px) {
    .season ul {
        display: block;
        height: auto;
    }
    .season ul li {
        height: 200px;
    }
}

.season .pic1 {
    background-image: url("../image/chalet/season_01.jpeg");
    flex-grow: 1;
}

.season .pic2 {
    background-image: url("../image/chalet/season_02.jpeg");
    flex-grow: 1;
}

.season .pic3 {
    background-image: url("../image/chalet/season_03.jpg");
    flex-grow: 1;
}

.season .pic4 {
    background-image: url("../image/chalet/season_04.jpeg");
    flex-grow: 1;
}

.season li:hover {
    flex-grow: 5;
}


/* ---動畫--- */

@keyframes logo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes down {
    0% {
        bottom: 300px;
    }
    50% {
        bottom: 290px;
    }
    100% {
        bottom: 300px;
    }
}