@import url('base.css');
@import url('header.css');
@import url('footer.css');

.banner {
    width: 100%;
    line-height: 600px;
    font-size: 3rem;
    font-weight: bolder;
    
    position: relative;
}

.banner::before {
    content: '';
    background-image: url('../image/big_pic/map_banner.jpeg');
    background-position: bottom;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.5;
}

/* ---主要內容區塊--- */
main {
    width: 1200px;
    margin: 0 auto;
}

.tour {
    position: relative;
}

.h2 {
    font-size: 28px;
    font-weight: bolder;
    padding-top: 5rem;
    color: #463F3A;
}

.img {
    width: 800px;
    margin: 1.5rem auto 3.5rem;
}

.item {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #A5A58D;

    font-size: 20px;
    font-weight: bolder;
    color: #fffdf0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: .5s;
}

.item:hover {
    transform: scale(1.2);
}

/* ---items定位--- */
#item1 {
    position: absolute;
    top: 110px;
    left: 140px;
}

#item2 {
    position: absolute;
    bottom: 115px;
    left: 160px;
}

#item3 {
    position: absolute;
    bottom: -50px;
    left: 200px;
}

#item4 {
    position: absolute;
    top: 15px;
    right: 180px;
}

#item5 {
    position: absolute;
    top: 190px;
    right: 115px;
}

#item6 {
    position: absolute;
    bottom: 40px;
    right: 130px;
}

/* ---地圖區塊--- */

.map {
    display: flex;
    margin: 3rem 0 5rem;
}

.googlemap {
    width: 50%;
}

.card {
    width: 50%;
    background-color: #fffdf0;
    padding: 2rem;

    font-weight: bolder;
    text-align: left;
    line-height: 2;
}

.card h3 {
    font-size: 24px;
    color: #463F3A;
}

.card ul {
    list-style-type: circle;
    padding-left: 20px;
}

.card li {
    color: #6B705C;
}