@import url('base.css');

.banner {
    width: 100%;
    line-height: 400px;
    font-size: 3rem;
    font-weight: bolder;
    
    position: relative;
}

.banner::before {
    content: '';
    background-image: url('../image/big_pic/map_banner.jpeg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.5;
}

/* ---主要內容區塊--- */
main {
    width: 1200px;
    margin: 0 auto;
}

main .h2 {
    font-size: 28px;
    font-weight: bolder;
    padding-top: 5rem;
    color: #463F3A;
}

main .tour {
    display: flex;
}

main .items {
    width: 30%;
    padding-top: 5rem;
    padding-left: 5rem;

    border: 1px solid rebeccapurple;
}

main .items a {
    display: block;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    color: #6B705C;
}

main .img {
    width: 800px;

    border: 1px solid red;
}

/* ---地圖區塊--- */

.map {
    display: flex;
    margin: 3rem 0 5rem;
}

.googlemap {
    width: 50%;
}

.card {
    width: 50%;
    background-color: #fffdf0;
    padding: 2rem;

    font-weight: bolder;
    text-align: left;
    line-height: 2;
}

.card h3 {
    font-size: 24px;
    color: #463F3A;
}

.card ul {
    list-style-type: circle;
    padding-left: 20px;
}

.card li {
    color: #6B705C;
}